body {
  font-family: Roboto;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60vw;

}
.container{
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;

}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px; /* Maximum form width */
}

input[type="text"] {
  
  width: 100%; /* Make input field responsive */
  margin: 10px 0; /* Add some space around input */
  border: none;
  border-bottom: 2px solid blue;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 480px) {
  body {
    padding: 10px;
  }
}


p {
  margin-top: 20px;
  color: #555;
  font-size: 14px;
}

#result {
  margin-top: 20px;
  font-weight: bold;
}