:root {

  --golden-yellow: #feac32;

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#input_button{
  padding: 2%;
}

header h1{
  align-items: center;
  text-align: center;
  font-size: large;
  padding: 1%;

}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

button{
  border-radius: 10%;
  text-size-adjust: true;
  padding: 1% ;
}

.dir-or {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.block {
  display: inline;
  box-sizing: border-box;
}

#weight-height {
  display: flex;
  flex-direction: column;

  align-items: center; /* Centers items horizontally */
  height: 100%; /* Ensures the container takes full height */
}

#weight, #height, #types {
  border: none;
  flex-grow: 1; /* Allows items to grow and take available space */

}
table {
 border: #0a0a23;
 border-style: solid;
}

th, td {
  padding: 15px;
  text-align: left;
}


.electric{
  background-color: var(--golden-yellow);
}
.flying{
  background-color: blue;
}
.ghost{
  background-color: gray;
}
.poison{
  background-color: violet;
}
.grass{
  background-color: green;
}
.fire{
  background-color: red;
}
.water{
  background-color: lightblue;
}
.bug{
  background-color: lightgreen;
}
.normal{
  background-color: lightpink;
}
.ground{
  background-color: brown;
}
.fairy{
  background-color: palevioletred;
}
.type{

  border: solid;
  border-radius: 10%;
}